<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refnil.uqcard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
     <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.refnil.uqcard.service.BluetoothService" />

        <activity
            android:name="com.refnil.uqcard.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.refnil.uqcard.FullCardActivity"
            android:label="@string/title_activity_full_card" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.refnil.uqcard.BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.refnil.uqcard.HostChoice"
            android:label="@string/title_activity_host_choice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.refnil.uqcard.MainActivity" />
        </activity>

        <service android:name="com.refnil.uqcard.service.UqcardService" >
        </service>

        <activity
            android:name="com.refnil.uqcard.BluetoothConnect"
            android:label="@string/title_activity_bluetooth_connect" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.refnil.uqcard.HostChoice" />
        </activity>
    </application>

</manifest>
